body {
    font-family: 'Roboto', sans-serif;
}

.container_1 {
    background-color: whitesmoke;
    /* center div */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    padding: 50px;
}

h2 {
    text-align: center;
}

input {
    border-radius: 3px;
    border-color: aliceblue;
}

button {
    color: white;
    font-weight: 800;
    background-color: rgb(132, 218, 189);
    height: 30px;
    width: 200px;
    border-width: 1px;
    border-color: aliceblue;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(55, 55, 151);

}