.container_1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.container_3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.container_4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.container_5 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.tab_le {
    table-layout: auto;
    border: 5px solid;
    border-radius: 10px;
    border-color: rgb(67, 67, 150);
    width: 750px;
}

h1 {
    font-weight: 400;
}

input {
    margin: 0.5rem;

}